#wholepage{
    width: 100%;
    height: 100%;
    /*background-color: transparent;*/
    background: url("../images/planetearth.jpg");
    background-size: 90%, 90%, ;
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
}

#headerRow{
    width: 100%;
    height: 8%;
    
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

#midRow{
    width: 100%;
    height: 84%;
    
    
    float: left;
    position: absolute;
    top: 8%;
    left: 0%;
    
}

#leftColumn{
    width: 8%;
    height: 100%;
    
    float: left;
    position: absolute;
    top: 0%;
    left: 0%;
    
}

#middleColumn{
    width: 84%;
    height: 84%;
    
    float: left;
    position: absolute;
    top: 0%;
    left: 8%;
    
}

#Column1{
    width: 50%;
    height: 100%;
    
    float: left;
    position: absolute;
    top: 0%;
    left: 8%;
    
}

#Column2{
    width: 50%;
    height: 100%;
    
    float: left;
    position: absolute;
    top: 0%;
    left: 50%;
    
}


#rightColumn{
    width: 8%;
    height: 100%;
    
    float: left;
    position: absolute;
    top: 0%;
    left: 92%;
    
}

#footerRow{
    width: 100%;
    height: 8%;
    
    
    float: left;
    position: absolute;
    top: 92%;
    left: 0%;
    
}


 #map {
   width: 80%;
   height: 100%;
   background-color: grey;

 }

.largeLetter{
    
    font-size: 25px;
    color: yellow;
    
}

.input{
    width: 200px;
} 

.places{
    position: absolute;
    top: 50%;
    
}